.hero {
    background-image: url("../images/run-buddy-heroimg.jpg");
    height: 600px;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  .hero-form {
    border: 3px solid #024e76;
    background-color: #fce138;
    padding: 20px;
    width: 500px;
    color: #024e76;
    position: absolute;
    bottom: 120px;
    right: 140px;
  }
